<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="subscribe-text">
          <h2>Subscribe</h2>
          <span>to our newsletter</span>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <form class="subscribe-form" id="subscription-form">
          <div class="input-group">
            <label class="sr-only" for="subscriber-email">Email address</label>
            <input name="email" id="subscriber-email" class="form-control" placeholder="Enter your email address" required="" type="email">
            <span class="input-group-addon">
              <input id="subscribe-button" class="btn btn_custom btn_round btn-outline-secondary btn-light" value="Join" type="submit">
            </span>
          </div>
        </form>
        <div id="subscription-response"></div>
        <p class="spam-text">* We will never spam you</p>
      </div>
    </div>
  </div>
</section>
